html,
body,
#root {
  height: 100%;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  width: 60%;
  height: 80%;
}

.idea-wrapper {
  height: 50%;
  position: relative;
}
.idea {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* background: -webkit-linear-gradient(#abc, #def); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.num-input-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.num-input-label {
  /*font-size: 0.8em;*/
  flex-shrink: 1;
}

.num-input {
  flex-shrink: 1;
  width: 3em;
  font-size: 1em;
}

.generate-area {
  margin: 2em;
}

.generate-prompt {
  opacity: 0.3;
  font-size: 0.8em;
}

.edit-lists-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

.edit-list-box {
  padding: 1em;
  border-radius: 0.5em;
  background-color: lightgrey;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.dialog {
  position: fixed;
  background-color: #0008;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.dialog-box {
  background-color: #fff;
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
  align-self: start;
  z-index: 10;
}

.dialog-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0004;
}
